<% include header.html %>
<style>
    .main{
        width:1200px;
        margin:auto;
        margin-top: 20px;
    }
    .m-r{
        margin-left:20px;
    }
    .m-r:first-child{
        margin-left: 0;
    }
    .content{
        display: -webkit-box; 
    text-overflow: ellipsis;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    }
</style>
   <div class="main">
    <ul class="layui-timeline" id="J-cnt">
       
        
      </ul>
   </div>
  
   <script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'laytpl','flow'], function(){
      var layer = layui.layer,
            $   = layui.jquery,
            laytpl = layui.laytpl,
            flow = layui.flow;
            var page = 1;

            function html2Escape(html) { 
                var temp = document.createElement("div");
            (temp.textContent != null) ? (temp.textContent = html) : (temp.innerText = html);
            var output = temp.innerHTML;
            temp = null;
            return output;
        } 

            flow.load({
            elem: '#J-cnt' //指定列表容器,
            ,done: function(page, next){ //到达临界点（默认滚动触发），触发下一页
                var lis = [];
                //以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
                $.get('/list?page='+page, function(res){
                    //假设你的列表返回在data集合中
                
                    layui.each(res.list, function(index, item){
                        lis.push( '<li class="layui-timeline-item">\
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>\
                                <div class="layui-timeline-content layui-text">\
                                <h3 class="layui-timeline-title"><a href="/list/'+item.id+'">'+ html2Escape(item.title)+' </a></h3>\
                                <p class="content">\
                                    '+html2Escape(item.content)+'\
                                </p>\
                                <div style="margin-top:10px;"><span data-href="/my_list?name='+html2Escape(item.name)+'" style="cursor:pointer" class="J-link" ><span  class="layui-icon m-r">&#xe612;</span>:'+html2Escape(item.name)+'</span><span class="layui-icon m-r">&#xe63a;</span>:'+item.comments+' <span class="layui-icon m-r">&#xe615;</span>:'+item.pv+' <span class="layui-icon m-r">&#xe60e;</span>:'+item.moment+'</div>\
                                </div>\
                            </li>');
                    }); 
                    
                    //执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
                    //pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
                    next(lis.join(''), page < res.pages);    
                });
            }
        });

      


        // loadAjax();
            function loadAjax(){
                $.ajax({
                url:'/list',
                type:'get',
                data:{page:page}
            }).then(function(res){
                if(res.data == 2){            
                    var getTpl = demo.innerHTML,
                    view = document.getElementById('view');

                    laytpl(getTpl).render(res.list, function(html){
                        view.innerHTML = html;
                    });
                }else{
                    layer.msg( res.msg )
                }
            })
            }
          

    

    });

   
    </script> 
<% include footer.html %>